.game-board{
    display: grid;
    grid-template-columns: repeat(10, 25px);
}

body{
    display: flex;
    flex-wrap: wrap;
}
.play-area{
    display: flex;
    width: 600px;
    justify-content: space-between;
}

.cell{
    background-color: aqua;
    margin: 2px;
    height: 25px;
}

.cell:hover{
    background-color: white;
}

.cell.ship {
    background-color: grey;
}

.cell.miss {
    background-color: orange;
}

#orange{
    color: orange;
}

.cell.hit-ship{
    background-color: red;
}

#red{
    color: red;
}